@page "/books/add"

@using BlazorLibrary.Shared.Books.Commands
@using Blazored.FluentValidation

<EditForm Model="@NewBook" OnSubmit="OnSubmitMethod">
    <FluentValidationValidator />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Book Add</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Book Add</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <InputText id="title" @bind-Value="NewBook.Title" class="form-control" />
                                <ValidationMessage For="() => NewBook.Title" />
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Book Description</label>
                                <InputTextArea id="inputDescription" @bind-Value="NewBook.Description" class="form-control" rows="4" />
                                <ValidationMessage For="() => NewBook.Description" />
                            </div>
                            <div class="form-group">
                                <label for="Author">Author</label>
                                <InputSelect id="Author" @bind-Value="NewBook.Writers.Name" class="form-control">
                                    <option value="" disabled>----Select Author----</option>
                                    @foreach (var item in Writers)
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="form-group">
                                <label for="Type">Type</label>
                                <InputSelect id="Type" @bind-Value="NewBook.Types.Name" class="form-control" >
                                    <option value="" disabled>----Select Type----</option>
                                    @foreach (var item in Types)
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                    </InputSelect>
                            </div>
                             <div class="form-group">
                                <label for="publisher">Publisher</label>
                                <InputText id="publisher" @bind-Value="NewBook.Publisher" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="editionDate">Date of edition</label>
                                <InputDate id="editionDate" @bind-Value="NewBook.DateOfEdition" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="pages">Number of pages</label>
                                <InputNumber id="pages" @bind-Value="NewBook.NumberOfPages" class="form-control" />
                            </div>
                            <div>
                                <label for="isAvailable">In stock</label>
                                <InputCheckbox id="isAvailable" @bind-Value="NewBook.Available" />
                            </div>
                            <label for="file">Picture</label>
                            <InputFile id="file" OnChange="OnChangeInputFile"  class="form-control" />
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="#" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create new Project" class="btn btn-success float-right">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    @*</html>*@
    <ValidationSummary />
</EditForm>

@code {
    public AddBookVM NewBook { get; set; } = new();

    public List<WriterVm> Writers { get; set; } = new();
    public List<TypeVm> Types { get; set; } = new();

    private IReadOnlyList<IBrowserFile> files;

    protected override void OnInitialized()
    {
        NewBook.Writers = new WriterVm();
        Writers.Add(new WriterVm() { Id = 1, Name = "J.R.R. Tolkien" });
        Writers.Add(new WriterVm() { Id = 2, Name = "J.D. Salinger" });
        Writers.Add(new WriterVm() { Id = 3, Name = "J.K. Rowling" });

        NewBook.Types = new TypeVm();
        Types.Add(new TypeVm() { Id = 1, Name = "Fantasy, science fiction" });
        Types.Add(new TypeVm() { Id = 2, Name = "Literatura piękna" });
        Types.Add(new TypeVm() { Id = 3, Name = "Literatura młodzieżowa" });
    }

    private async void OnSubmitMethod(EditContext editContext)
    {
        if (editContext.Validate())
        {
            foreach(var file in files)
            {
                Stream stream = file.OpenReadStream();
                MemoryStream ms = new MemoryStream();
                await stream.CopyToAsync(ms);
                stream.Close();

                Console.WriteLine($"File name: {file.Name} has size of {file.Size}");
                Console.WriteLine($"Stream has {ms.ToArray().Length} size");

                ms.Close();
            }
            Console.WriteLine("Book has been validated");
        }
        else
        {
            Console.WriteLine("Book has not been validated");
        }
    }

    private void OnChangeInputFile(InputFileChangeEventArgs args)
    {
        files = args.GetMultipleFiles();
    }
}